.homepage-content h1,
.homepage-content h2,
.homepage-content article {
    /* color: #9C1265; */
    color: white;
    text-align: center;
}
.homepage-content h7,
.homepage-content {
    /* color: #9C1265; */
    color: rgb(12, 2, 2);
    text-align: center;
}

a:hover {
    /* color: inherit; */
}

.homepage-content h1 {
    font-weight: 400;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.homepage-content h2 {
    font-weight: 200;
    font-size: 23px;
    margin-top: 0px;
}

.homepage-content h7 {
    font-weight: 200;
    font-size: 16px;
    margin-top: 0px;
    padding: 30px;
    width: 70%;
}

.homepage-content article {
    font-size: 24px;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    /* background-color: #9035AA; */
}

.homepage-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    /* background-color: #9035AA; */
    background: linear-gradient(100deg,#7718E3,#9035AA,#3324bc);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;

    padding: 0px 40px 60px 40px;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.homepage-welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.homepage-faq-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}
.homepage-welcome-text div {
    margin: 10px 0px;
}
.homepage-faq-sub div {
    margin: 10px 0px;
}
.homepage-text-accent {
    font-size: 22px;
}

.homepage-trial-btn {
    margin: 30px 0px;
}
.homepage-trial-btn:hover {
    color: white;
}

.homepage-content .homepage-image-box {
    /* border: 1px solid #9C1265; */
    margin: 30px 0px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-content .homepage-image-box img {
    width: 100%;
    /* cursor: pointer; */
}

.homepage-watch-app-demo-play-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    background: linear-gradient(130deg,#7718E3,#9035AA,#3324bc);
    background-size: 180% 180%;
    animation: gradient-animation 2s ease infinite;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.homepage-watch-app-demo-play-wrapper:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.homepage-content .homepage-image-box div {
    position: absolute;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(229, 0, 255, 0.2);
    -moz-box-shadow: 10px 10px 60px 0px rgba(229, 0, 255, 0.2);
    box-shadow: 10px 10px 60px 0px rgba(229, 0, 255, 0.2);
}

.homepage-pwa-title {
    /* background-color: #9035AA; */
    /* background: linear-gradient(130deg,#7718E3,#9035AA,#3324bc);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite; */
    background: linear-gradient(-45deg, #771552, #e73c7e, #23a6d5, #7718E3);
	background-size: 400% 400%;
	animation: gradient-animation 10s ease infinite;
    border-radius: 30px;
    font-size: 42px;
    padding: 10px 40px;
    color: white;
    font-weight: 600;
    margin-top: -45px;
    border: 5px solid white;
    user-select: none;
}

.gradient-animation {
    background: linear-gradient(-45deg, #771552, #e73c7e, #23a6d5, #7718E3);
	background-size: 400% 400%;
	animation: gradient-animation 10s ease infinite;
}

.gradient-animation-reversed {
    background: linear-gradient(-45deg, #7718E3, #23a6d5, #e73c7e, #771552);
	background-size: 400% 400%;
	animation: gradient-animation 10s ease infinite;
}

.homepage-content .homepage-pwa-image {
    width: 60%;
    margin: 10px 0px;
}

.homepage-pwa-description {
    font-weight: 700;
}

.homepage-watch-app-demo-box {
    margin-top: 80px;
    width: 300px;
    height: 100px;
    background-color: rgba(156, 18, 101, 0.38);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.homepage-watch-app-demo-play-button {
    margin-left: 15px;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid white;
	border-bottom: 25px solid transparent;
}

.homepage-watch-app-demo-text {
    color: #9C1265;
    font-weight: 600;
}

.homepage-watch-app-demo-text:hover {
    cursor: pointer;
}

.homepage-faq-title {
    color: #9C1265;
    font-size: 45px;
    font-weight: 800;
    margin-top: 50px;
}

.homepage-accordion {
    margin: 5px 10px !important;
    background-color: #9c34b4;
    color: white;
    padding-left: 10px;
    width: 30%;
    transition: all 0.2s ease-in-out;
}
.MuiAccordionSummary-expandIconWrapper {
    transition: all 0.2s ease-in-out;
}
.homepage-accordion:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 50%), 0px 4px 5px 0px rgb(0 0 0 / 25%), 0px 1px 10px 0px rgb(0 0 0 / 25%);
}
.homepage-accordion:hover .MuiAccordionSummary-expandIconWrapper {
    color: white;
}

.homepage-faq-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin: 10px 0px;
}

.homepage-bottom-block {
    text-align: center;
    width: 100%;
    padding: 10px 30px;
    -webkit-box-shadow: 1px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 7px 8px 0px rgba(34, 60, 80, 0.2);
}

.homepage-bottom-info {
    margin-top: 35px;
    color: #9C1265;
}

.homepage-bottom-advice {
    margin-top: 10px;
    font-size: 12px;;
    color: #9C1265;
}

.homepage-button-box a {
    margin: 20px 10px;
    /* background-color: #9C1265 !important; */
    /* font-size: 1.2rem !important; */
}

.homepage-terms-of-service-btn:hover,
.homepage-privacy-policy-btn:hover {
    color: white;
} 

.homepage-copyright {
    font-weight: 600;
    color: #00000087;
    margin-bottom: 20px;
}

.youtube-video-player {
    width: 100%;
}

@media (max-width: 1400px) {
    .homepage-watch-app-demo-play-wrapper {
        width: 250px;
        height: 125px;
    }
}

@media (max-width: 1200px) {
    .homepage-watch-app-demo-play-wrapper {
        width: 200px;
        height: 100px;
    }
}

@media (max-width: 1025px) {
    .homepage-watch-app-demo-play-wrapper {
        width: 150px;
        height: 75px;
    }
    .homepage-watch-app-demo-play-wrapper div {
        border-top: 18px solid transparent;
        border-left: 36px solid white;
        border-bottom: 18px solid transparent;
    }

    .homepage-content h1 {
        font-size: 35px;
        margin-top: 50px;
    }
    .homepage-welcome-text div {
        margin: 5px 0px;
    }
    .homepage-text-accent {
        font-size: 18px;
    }
    .homepage-content .homepage-image-box {
        margin: 15px 0px;
    }
    .homepage-pwa-title {
        font-size: 32px;
        padding: 10px 20px;
        margin-top: -45px;
        border: 5px solid white;
    }
    .homepage-accordion {
        width: 45%;
    }
}

.homepage-video-demo-modal {
    left: 32%;
    top: 20%;
}

@media (max-width: 770px) {
    .homepage-watch-app-demo-play-wrapper {
        width: 100px;
        height: 50px;
    }
    .homepage-watch-app-demo-play-wrapper div {
        border-top: 12px solid transparent;
        border-left: 24px solid white;
        border-bottom: 12px solid transparent;
    }

    .homepage-content h1 {
        font-size: 28px;
        margin-top: 40px;
    }
    .homepage-text-accent {
        font-size: 16px;
    }
    .homepage-pwa-title {
        font-size: 26px;
        padding: 10px 20px;
        margin-top: -45px;
        border: 5px solid white;
    }
    .homepage-faq-title {
        color: #9C1265;
        font-size: 36px;
        font-weight: 800;
        margin-top: 50px;
    }
    .homepage-accordion {
        width: 100%;
    }
    .homepage-button-box button {
        font-size: 1rem !important;
    }
}

@media (max-width: 470px) {
    .homepage-watch-app-demo-play-wrapper {
        width: 75px;
        height: 40px;
    }
    .homepage-watch-app-demo-play-wrapper div {
        border-top: 8px solid transparent;
        border-left: 16px solid white;
        border-bottom: 8px solid transparent;
        margin-left: 8px;
    }

    .homepage-pwa-title {
        font-size: 20px;
        padding: 10px 20px;
    }
    .homepage-content .homepage-image-box {
        width: 100%;
    }
    .homepage-content .homepage-pwa-image {
        width: 80%;
    }
    .homepage-watch-app-demo-box {
        margin-top: 40px;
    }
    .homepage-faq-title {
        font-size: 28px;
        margin-top: 30px;
    }
    .homepage-button-box button {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 376px) {
    .homepage-pwa-title {
        font-size: 16px;
        border-radius: 20px;
        margin-top: -30px;
        padding: 10px 20px;
    }
    .homepage-content .homepage-image-box {
        width: 100%;
    }
    .homepage-content .homepage-pwa-image {
        width: 80%;
    }
    .homepage-watch-app-demo-box {
        margin-top: 40px;
    }
    .homepage-faq-title {
        font-size: 22px;
        margin-top: 30px;
    }
    .homepage-button-box button {
        font-size: 0.8rem !important;
    }
}