/* NEWS */

.separator-30p {
    width: 30%;
}

.gainers-losers {
    width: 30%;
}

.information-page-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px 0px;
    justify-content: center;
}

.information-news-block {
    width: 40%;
    border-radius: 20px;
    min-width: 700px;
}

.information-news-title {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.information-news-item-wrapper {
    margin: 3% 0 3% 10%;
    width: 80%;
}

.information-news-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.information-news-item-image {
    /* width: 200px;
    min-width: 200px;
    height: auto; */
    margin-right: 4%;
}

.information-news-item-image img {
    /* width: 100%; */
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 10px;
}

.information-news-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 80%;
}

.information-news-item-title {
    color: rgb(10, 10, 10);
    font-weight: 700;
    font-size: 18px;
    /* line-height: 1.25rem; */
    font-family: 'Metropolis-SemiBold';
}

.information-news-item-data {
    color: rgb(10, 10, 10);
    font-size: 14px;
    font-family: 'Metropolis-Light';
}

.information-news-item-description {
    color: rgb(107, 107, 107);
    font-weight: 400;
    font-size: 16px;
    /* line-height: 1.25rem; */
    font-family: 'Metropolis-Light';
}

/* END NEWS */

@media (max-width: 1400px) {
    .information-information-about-company {
        flex-direction: column;
    }
    .information-block-indicators {
        width: 90%;
        flex-direction: column;
    }
    .information-block-indicator {
        margin: 10px 20px;
    }
    .information-block-title {
        margin-top: 30px;
    }
}

@media (max-width: 1000px) {
    .information-page-content {
        flex-direction: column;
        align-items: center;
    }
    .information-news-block {
        width: 90%;
        min-width: unset;
    }
    .gainers-losers {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .information-information-about-company-column {
        flex-direction: column;
    }
    .information-block-indicators-column-boxes {
        flex-direction: column;
        margin: 20px 0px;
    }
    .information-block-indicators-column-boxes div {
        margin: 10px 0px;
    }
    .information-news-item {
        flex-direction: column;
    }
    .information-news-item div {
        margin: 10px 0px;
    }
    .information-news-item-info {
        max-width: 100%;
    }
    .information-block-indicators-column {
        flex-direction: column;
    }
}

/* END NEWS */