.profile-page-title {
    color: #9C1265;
}

.delete-user-text {
    color: #9c34b4;
    font-size: 24px;
}

.propt-deletion-box {
    margin-top: 30px;
    font-size: 30px;
}

.reason-deletion-box {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
}

.reason-deletion-input {
    width: 70%;
    padding: 10px;
}

.delete-user-modal {
    /* height: 48vh !important; */
}

.delete-user-button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.cancel-subscription-button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* MODALS */

.subscription-modal {
    width: 70% !important;
    max-width: none !important;
}

.subscription-modal-container {
    margin-top: 30px;
}

.subscription-modal-features {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.subscription-modal-feature {
    width: 33%;
    -webkit-box-shadow: 4px 4px 30px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 30px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 30px 0px rgba(34, 60, 80, 0.2);
    margin: 0px 10px;
}


@media (max-width: 1000px) {
    .subscription-modal-features {
        flex-direction: column;
    } 
    .subscription-modal-feature {
        width: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 700px) {
    .subscription-modal-feature {
        width: 100%;
    }
}

/* END MODALS */

@media (max-width: 1300px) {
    
}
@media (max-width: 1100px) {
    
}
@media (max-width: 900px) {
    
}
@media (max-width: 700px) {
    
}
@media (max-width: 450px) {
    
}