.k-appbar-light {
    background-color: white !important;
}
.no-padding {
    padding: 0px;
}
.navbar-button {
    background-color: #9c1265;
    color: white;
    margin: 10px 10px;
}
.nav-button-box {
    margin-left: auto;
}
.navbar-button-box a {
    margin: 0px 10px;
}
.nav-button {
    margin: 0px 10px;
}

.navbar-logout-btn {
    color: red;
}

@media (max-width: 1200px) {
    .navbar-button {
        font-size: 12px;
        margin: 10px 5px;
    }
}

@media (min-width: 768px) {
    .navbar {
        display: block;
    }
}
@media (max-width: 769px) {
    .navbar {
        display: none;
    }    
}