.k-appbar-light {
    background-color: white !important;
}
.no-padding {
    padding: 0px;
}
.navbar-button {
    background-color: #9c1265;
    color: white;
    margin: 10px 10px;
}
.nav-button-box {
    margin-left: auto;
}
.navbar-button-box a {
    margin: 0px 10px;
}
.nav-button {
    margin: 0px 10px;
}

.navbar-logout-btn {
    color: red;
}

.logged-out-button-style {
    font-size: 16px;
    background-color: transparent !important;
    color: black !important;
    border-bottom: 2px solid transparent;
    box-shadow: none;
}
.logged-out-button-style:hover {
    transition: all 0.5s ease-in-out;
    background-color: transparent !important;
    border-bottom: 2px solid black;
    box-shadow: none;
}

.signin-button {
    margin-right: 30px;
}

@media (max-width: 1200px) {
    .navbar-button {
        font-size: 12px;
        margin: 10px 5px;
    }
}

@media (min-width: 768px) {
    .navbar {
        display: block;
    }
}
@media (max-width: 769px) {
    .navbar {
        display: none;
    }    
}