a {
    text-decoration: none;
}

.positive {
    background-color: #37B400;
}
.positive-text {
    color: #37B400;
}

.negative {
    background-color: #CC0000;
}
.negative-text {
    color: #CC0000;
}

.analyzer-arrow-icon {
    margin-left: 10px;
}

.arrow-up {
    transform: rotate(45deg) scale(1.5) scaleX(0.5);
}

.arrow-down {
    transform: rotate(135deg) scale(1.5) scaleX(0.5);
}

.analyzer-page-incorrect-ticker-text {
    margin-top: 1.5em;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.analyzer-page-no-sage-trade-setup {
    margin-top: 1em;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 1.5em;
}


.analyzer-page-content {
    display: flex;
    flex-direction: column;
}

.analyzer-information-about-company {
    margin-top: 60px;
    width: 90%;
    /* height: 200px; */
    /* background-color: #80808080; */
    /* border: 3px solid #9c34b4; */
    border-radius: 20px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.analyzer-information-about-company-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 30%; */
    /* padding: 20px; */
}

.analyzer-information-about-company-main-column {
    flex-direction: column;
}
.analyzer-information-about-company-main-column
.analyzer-information-about-company-name {
    margin: 0px;
}

.analyzer-information-about-company-name {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

.analyzer-information-about-company-price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.analyzer-information-about-company-logo {
    width: 128px;
    height: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.analyzer-information-about-company-logo img {
    width: 100%;
}

.analyzer-information-about-company-indicators {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
    /* border: 2px solid #9c34b4; */
    border-radius: 10px;
    /* padding: 20px; */
    width: 100%;
    font-weight: 400;
    margin: 25px;
    white-space: nowrap;
}

.analyzer-information-about-company-title {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
}

.analyzer-linear-indicators {
    width: 70%;
    margin: 0 auto;
}

.analyzer-linear-indicator {
    margin: 40px 0px;
}

.analyzer-block-title {
    font-size: 34px;
    text-align: center;
    margin-top: 40px;
}

.analyzer-block-indicators {
    /* background-color: #80808080; */
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    padding: 0px 40px;
}

.analyzer-block-indicator-title {
    font-size: 20px;
    font-weight: 500;
}
.analyzer-block-indicator-title-box {
    color: white;
    font-size: 22px;
}

.analyzer-block-indicator-value {
    font-size: 30px;
    font-weight: 600;
}

.analyzer-block-indicators-column {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}
.analyzer-block-indicators-column-boxes {
    justify-content: center;
}
.analyzer-block-indicators-column-boxes div {
    margin: 0px 20px;
}

.analyzer-block-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 5px;
    /* width: 200px;
    height: 200px; */
    border: 3px solid white;
    margin: 0px 40px 20px 40px;
}
.analyzer-linear-indicator text {
    /* font-size: 20px !important; */
}

.analyzer-block-indicator-buyZone,
.analyzer-block-indicator-buyTrigger {
    width: 230px;
    height: 230px;
}

/* NEWS */

.analyzer-news-block {
    margin: 40px auto;
    background-color: #80808020;
    width: 80%;
    border-radius: 20px;
}

.analyzer-news-title {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.analyzer-news-item-wrapper {
    margin: 3% 0 3% 10%;
    width: 80%;
}

.analyzer-news-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.analyzer-news-item-image {
    width: 250px;
    min-width: 250px;
    height: auto;
    margin-right: 2%;
}

.analyzer-news-item-image img {
    width: 100%;
    border-radius: 10px;
}

.analyzer-news-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 80%;
}

.analyzer-news-item-title {
    color: rgb(10, 10, 10);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.25rem;
}

.analyzer-news-item-description {
    margin-top: 20px;
    color: rgb(107, 107, 107);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25rem;
}

/* END NEWS */
