.social-share-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    margin-top: -20px;
    margin-bottom: 40px;
}

.social-share-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-share-icon {
    margin: 0 7px;
}

.dashboard-graph-news-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.trend-line-chart {
    width: 40%;
}

/* NEWS */

.dashboard-news-block {
    margin: 0px auto;
    background-color: #80808020;
    width: 50%;
    border-radius: 20px;
}

.dashboard-news-title {
    margin: 20px 0px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.dashboard-news-item-wrapper {
    margin: 3% 0 3% 10%;
    width: 80%;
}

.dashboard-news-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.dashboard-news-item-image {
    width: 250px;
    min-width: 250px;
    height: auto;
    margin-right: 2%;
}

.dashboard-news-item-image img {
    width: 100%;
    border-radius: 10px;
}

.dashboard-news-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 80%;
}

.dashboard-news-item-title {
    color: rgb(10, 10, 10);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.25rem;
}

.dashboard-news-item-description {
    margin-top: 20px;
    color: rgb(107, 107, 107);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25rem;
}

/* END NEWS */